.social-block{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin:20px 0;
}
.social-text p{
  color:#86878B
}
.social-icons ul li{
  display: inline;
  padding: 0 60px;
}
